* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-decoration: none;
}

.container {
    position: relative;
}

.container .slide-container .slide {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.container .slide-container .slide video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .5;
}

.container .slide-container .slide .content {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,0.7);
    color: antiquewhite;
    gap: 1rem;
}

.container .slide-container .slide .content h3
{
    font-size: 4rem;
}

.container .slide-container .slide .content p 
{
    padding: 0 9.6rem;
    text-align: center;
}


.container .slide-container .slide .content .btn,
.container .slide-container .slide .content .btn:active {
    display: inline-block;
    color: black;
    background-color: antiquewhite;
    padding: 1rem 1.2rem;
}


.container .slide-container .slide .content .btn:hover {
    background-color: rgb(248, 241, 232);
    cursor: pointer;
}


.container .slide-container
{
    display: none;
}


.container .slide-container.active
{
    display: block;
}

.container #next,
.container #prev
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    font-size: 30px;
    line-height: 55px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
}
.container #next{right: 0;}
.container #prev{left: 0;} 